.contactInfo {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;;
}

#linkedin {
    height: 100px;
    width: 100px;
    margin-left: 25%;
}
#github{
    height: 100px;
    width: 150px;
    /* margin-left: 25%; */
}

/* .contactPics {
    width: 40%;
} */

.container {
    width: 90%;
    text-align: center;
}
