.contactInfo {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;;
}

#linkedin {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    /* margin-left: 25%; */
}
#github{
    display: block;
    margin: auto;
    height: 100px;
    width: 150px;
    margin-bottom: 15px;
}

/* .contactPics {
    width: 40%;
} */

.container {
    width: 90%;
    text-align: center;
}
